{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>Категорії ігор</title>
  <link rel="stylesheet" href="{% static 'games/css/style.css' %}">
</head>
<body>
  <div class="container">
    <h1>Категорії ігор</h1>

    <div class="categories">
      <div class="category" style="background-image: url('/media/covers/439636.jpg');">
        <h3>Наукова фантастика й кіберпанк</h3>
      </div>
      <div class="category" style="background-image: url('/media/covers/OIP_2.webp');">
        <h3>Казуальні ігри</h3>
      </div>
      <div class="category" style="background-image: url('/media/covers/R.jpg');">
        <h3>Стратегії</h3>
      </div>
      <div class="category" style="background-image: url('/media/covers/witcher3.JPG');">
        <h3>Симулятори</h3>
      </div>
      <div class="category" style="background-image: url('/media/covers/439636.jpg');">
        <h3>Містобудівельні</h3>
      </div>
      <div class="category" style="background-image: url('/media/covers/OIP_2.webp');">
        <h3>Продукти з VR</h3>
      </div>
    </div>
  </div>
</body>
</html>
